:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 14%;
    background-color: white;
}

mat-drawer-content {
    width: auto;
    height: 100%;

    .navbar {
        width: 100%;
        height: 10%;
    }

    .body {
        width: 100%;
        height: auto;
        // padding-top: 5rem;

    }

    .footer {
        width: 100%;
        height: 10%;
        // margin-top: 28%;
        padding-top: 3%;
    }
}

mat-drawer-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
}

@media screen and (1000px <=width < 1300px) {
    mat-drawer {
        width: 14%;
    }

    mat-drawer-content {
        width: auto;
        height: 100%;

        .navbar {
            width: 100%;
            height: 10%;
        }

        .body {
            width: 100%;
            height: auto;
        }

        .footer {
            width: 100%;
            height: 10%;
            // margin-top: 28%;
            padding-top: 3%;
        }
    }
}

@media screen and (max-width: 1000px) {
    mat-drawer {
        width: 50px;
        margin: 0 auto;
    }
}