:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 15%;
    background-color: var(--md-ref-palette-neutral99);
}

mat-drawer-content {
    width: auto;
    height: 100%;

    .navbar {
        width: 100%;
        height: 10%;
    }

    .body {
        width: 100%;
        height: auto;
        // padding-top: 5rem;

    }


}

mat-drawer-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
}

@media screen and (1000px <=width < 1300px) {
    mat-drawer {
        width: 15%;
    }

    mat-drawer-content {
        width: auto;
        height: 100%;

        .navbar {
            width: 100%;
            height: 8vh;
        }

        .body {
            width: 100%;
            height: auto;
        }


    }
}

@media screen and (max-width: 1000px) {
    mat-drawer {
        width: 50px;
        margin: 0 auto;
    }
}