.sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: all 0.5s ease;
    background-color: var(--secondary);

    .btn_container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;

        p {
            margin: auto 0;
            font-size: 18px;
            padding-left: 10px;
            padding-right: 0.2rem;
            font-family: 'Maven Pro', sans-serif;
        }

        i {
            margin: auto 0;
            font-size: 20px;
            padding-left: 0.5rem;
        }

        //Button effects
        button:hover {
            cursor: pointer;
        }

        .button {
            margin-top: 10px;
            margin-left: 10px;
            height: 50px;
            border-style: none;
            border-radius: 5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            background-color: var(--secondary);
            color: var(--primary);
        }

        .button:hover {
            background-color: var(--primary);
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
            color: var(--color);
            cursor: pointer;
            animation-duration: 4s;
            animation: infinite pulse;
            animation-name: pulse;
            animation-delay: 2s;
            animation-iteration-count: infinite;
            animation-direction: reverse;
            position: relative;
            animation-fill-mode: forwards;
        }

        .button:focus {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            animation-duration: 4s;
            animation: infinite pulse;
            animation-name: pulse;
            animation-delay: 2s;
            animation-iteration-count: infinite;
            animation-direction: reverse;
            position: relative;
            animation-fill-mode: forwards;
        }

        .button:active {
            cursor: pointer;
        }

        .is-chosen {
            background-color: var(--primary);
            color: var(--color);
        }

        .hr {
            width: 90%;
            flex: none;
            align-self: stretch;
            flex-grow: 0;
            height: 2px;
            margin: 0 auto;
            margin-top: 0.5rem;
            margin-left: 1.1rem;
            background-color: var(--primary);
        }
    }
}

//Responsive
@media screen and (1900px <=width < 2000px) {
    .sidebar {
        .btn_container {
            p {
                font-size: 25px;
            }

            i {
                font-size: 25px;
            }
        }
    }
}

@media screen and (1700px <=width < 1900px) {
    .sidebar {
        .btn_container {
            p {
                font-size: 22px;
            }

            i {
                font-size: 22px;
            }
        }
    }
}

@media screen and (1400px <=width < 1500px) {
    .sidebar {
        .btn_container {
            p {
                font-size: 17px;
            }

            i {
                font-size: 17px;
            }
        }
    }
}

@media screen and (1300px <=width < 1400px) {
    .sidebar {
        .btn_container {
            p {
                font-size: 16px;
            }

            i {
                font-size: 16px;
            }
        }
    }
}

@media screen and (1200px <=width < 1300px) {
    .sidebar {
        .btn_container {
            p {
                font-size: 14px;
            }

            i {
                font-size: 16px;
            }
        }
    }
}

@media screen and (1100px <=width < 1200px) {
    .sidebar {
        .btn_container {
            p {
                font-size: 14px;
            }

            i {
                font-size: 16px;
            }
        }
    }
}

@media screen and (1001px <=width < 1100px) {
    .sidebar {
        .btn_container {
            p {
                font-size: 11.5px;
            }

            i {
                font-size: 11.5px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .sidebar {
        .btn_container {
            i {
                padding-right: 0.3rem;
            }

            .button {
                margin-left: 8px;
            }

            .hr {
                margin-left: 0.3rem;
            }
        }
    }

    p {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    p {
        display: none;
    }
}