#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.profile{
    width: auto;
    display: flex;
    flex-direction: column;
}
.avatar{
    width: 20%;
    background-image: url("../../../assets/images/5.jpg");
    background-size: cover;
    display: flex;
    justify-content:flex-end ;
    .company-header-avatar{
        width: 60px;
        height: 60px;
        -webkit-border-radius: 60px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 60px;
        -moz-background-clip: padding;
        border-radius: 60px;
        background-clip: padding-box;
        margin: 7px 0 0 5px;
        float: left;
    }
}