<div id="main">
    <div class="profile">
        <img src="../../../assets/images/Profile.png" alt="">
        <div class="avatar">
            <div class="company-header-avatar"></div>
        </div>
    </div>
    <!-- <div class="input">
        <div class="left-inputtext">
            <input class="container_input" type="text" placeholder="Khoa" size="25px">
            <input class="container_input" type="text" placeholder="Meo"  size="25px">
            <br>
            <input class=""
        </div>
        <div class="right-inputtext"></div> -->
    <!-- </div>
         -->
        
    
</div>
