<div id="main">
   
    <div id="form">
       <div class="intro">Profile</div>
       <div class="avatar">
          <img src="../../../assets/images/5.jpg" alt="">   
       </div>
       <div class="mid">
        <div class="nickname">M E O</div>
       <div class="text">Cùng học thật giỏi!</div>
       <div class="diamond">
        <img src="../../../assets/images/diamond.png">
        <h4>Member Gnosis</h4>
       </div>
       </div>
 
       <div class="create">
        <div class="name">
            
            <div class="Firstname">               
                <p>First name</p>
             <input class="container_input" type="Firstname" placeholder="Khoa" size="25px">
            </div>
             
            <div class="Lastname">
                <p>Last name</p>
                <input class="container_input" type="Lastname" placeholder="Phung" size="25px">
             </div>
            </div>
            <div class="Display">
                <div class="Displayname">
                    <p>Display name</p>
                    <input class="container_input" type="Displayname" placeholder="Meo" size="25px">
                </div>
             <div class="inputemail">
                <div class="email">
                    <p>Email Address</p>
                <input class="container_input" type="email" placeholder="clownneff  @gmail.com" size="25px">
                </div>
             </div>
            </div>    
             
          
          <div class="inputBio">
            <div class="bio">
                <p>Bio</p>
           
             <input class="container_input" type="Bio" placeholder="Cùng học thật giỏi" size="60px">
            </div>
            </div>
            
            <div class="inputRegion" >
             <div class="region">
                <p>Regions</p>
             <input class="container_input" type="Region" placeholder="Việt nam" size="60px">

            </div>
            </div>
        </div>   
            <div class="btn">
                <div class="Cancel">
                    <button>Cancel</button>
                 </div>
                    <div class="Save">
                       <button>Save changes</button>
                    </div>            
            </div>
            
            
    </div>
 
 </div>