
#main
{
    // width: 100vw;
    // height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1rem;
    color: black;
}


#form{
    width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: left;
}

.intro{
    width: auto;
    font-weight: bold;
    font-size: 1.5rem;
}



.nickname{
    font-weight: bold;
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    
}

.text{
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-left: 1rem;
    padding: 0.5rem;
}

.diamond{
    width: auto;
    height: auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-size: 5px;
    img{
        width: 15px;
        height: 15px;
        
        flex-direction: row;
        margin-top: 0.4rem;
       
    }
}

.avatar{
    img{
        height: 100px;
        width: auto;
        justify-content: center;
        display: flex;
        padding: 10px;
        justify-content: center;
        margin-bottom: 10px;
        border-radius: 50%;
        overflow: hide;
    }
}

 .create{
    width: auto;
     display: flex;
     
     justify-content: space-between;
     flex-direction: column;
 }

 .name{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
 }

 .Display{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
 }

 .inputBio{
    width: auto;
    padding:5px;
    display: flex;
    justify-content: center;
    font-weight: bold;
   

}

.container_input{
    padding: 0.7rem;
    border-radius: 7px;
    border: solid 1px #d4d4d4;
 }



.inputRegion{
    width: auto;
    padding:5px;
    display:flex;
    font-weight: bold;
    img{
        width: 10px;
        height: 10px;
        
    }
}
 
.btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;  
    flex-direction: row;
}

.Cancel{
    width: 100px;
    height: auto;
    background:#d4d4d4;
    border-radius: 34px;
    margin: 5px;
    min-width: 7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;  
    
    button{
        background-color:#d4d4d4;
        border-radius: 34px;
        border: none;
        margin-bottom: 10px;
        margin-top: 10px;
    }
     
}


 .Save{
    width: 100px;
     height: auto;
     background: var(--md-ref-palette-primary90);
     border-radius: 34px;
     margin: 5px;
     min-width: 7rem;
     display: flex;
     justify-content: center;
     flex-direction: column;
     border: none;
     
     button{
         background-color:var(--md-ref-palette-primary90);
         border-radius: 34px;
         border: none;
         margin-bottom: 10px;
         margin-top: 10px;
         font-weight: bold;
 
     }
 }
