<div class="container">
  <div class="container-main">
    <div class="header">
      <div class="course">
        <p class="text-header">Course</p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="navigate_next" style="font-size: 22px;"></mat-icon>
        <p class="text-header">IT</p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="navigate_next" style="font-size: 22px;" ></mat-icon>
        <p class="text-header">Quizz</p>
      </div>
      <div class="title">
        <p>Phát triển Web</p>
      </div>
    </div>

    <div class="main">
      <div class="container-navigation">
        <div class="header-navigation" style="margin-top: 1rem;">
          <p class="title-navigation" >Quiz navigation</p>
          <p id="timmer">{{formattedTime}}</p>
        </div>

        <mat-grid-list cols="5" rowHeight="2:1" style= "margin-bottom: 2rem;">
          <div class="question_list" *ngFor=" let i of questionList">
            <mat-grid-tile>
              <!-- <input class="custom-checkbox" type="checkbox" name="radio"> -->
              <span class="custom-checkbox" >1</span>
            </mat-grid-tile>

          </div>
        </mat-grid-list>


      </div>
      <div class="container-quiz-list">
        <div class="container-quiz" *ngFor="let question of questionList,let i = index">
          <p class="number">Câu {{ i + 1 }}</p>
          <p class="title-quiz">{{question.questionLabel}}</p>

          <label class="option" *ngFor="let option of question.options; let optionIndex = index">
            {{ option.label }}
            <input
              type="radio"
              [name]="'question-' + i"
              [checked]="i === question.selectedOptionIndex"
              
              (change)="selectOption(i, optionIndex)"
            >
            <span class="checkmark"></span>
          </label>


        </div>
        <div class="btn"> 
        <button class="btn-finish">Finish</button>
      </div>
      </div>



    </div>
  </div>
</div>