.navbar {
    background-color: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 1;
    top: 0;

    .example-spacer {
        flex: 1 1 auto;
    }

    .logo-img {
        width: 35px;
        height: 35px;
        margin: 0 10px;
    }

    #logo-name {
        color: var(--md-sys-color-scrim-dark);
        font-family: var(--md-sys-typescale-headline-medium-font-family-name);
        font-size: var(--md-sys-typescale-title-medium-line-heigh);
    }

    .search {

        width: 500px;
        height: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5rem;

        .search-input {
            width: 450px;
            height: 35px;
            padding-left: 10px;
            outline: none;
            border: none;
            line-height: normal;
            pointer-events: all;
            border-radius: 5rem 0 0 5rem;
        }

        .search-btn {
            width: 50px;
            height: 35px;
            // border: none;
            border-top-right-radius: 5rem;
            border-bottom-right-radius: 5rem;
            border: 1px;
            // color: var(--color);
            // background-color: var(--surface-container-high);
        }

        .search-btn:hover {
            cursor: pointer;
            // background-color: var(--secondary);
        }

        .search-btn:focus {
            cursor: pointer;
            outline: none;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }

    .user {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .user-name {
        color: var(--md-sys-color-scrim-dark);
        margin: 0 10px;
    }

    .btn-icon {
        margin: 0 10px;
        background-color: antiquewhite;
        border-radius: 50%;
        border: solid 1px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .btn-icon:hover {

        cursor: pointer;
    }

    .btn-icon:focus {
        cursor: progress;
    }

}





// Reponsive
@media screen and (1025px <=width < 1300px) {
    .navbar {

        #logo-name {
            font-size: 20px;
        }

        .search {

            width: 400px;

            select {
                width: 80px;
            }

            .search-input {
                width: 270px;
            }

            .search-btn {
                width: 50px;
            }
        }

        .user {
            padding-right: 2rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media screen and (max-width:1024px) {
    .navbar {

        #logo-name {
            font-size: 20px;
        }

        .search {
            width: 400px;

            .search-input {
                width: 350px;
            }

            .search-btn {
                width: 50px;
            }
        }

        .user {
            padding-right: 3rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (850px <=width < 900px) {
    .navbar {

        #logo-name {
            font-size: 20px;
        }

        .search {
            width: 400px;

            .search-input {
                width: 350px;
            }

            .search-btn {
                width: 50px;
            }
        }

        .user {
            padding-left: 2rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (800px <=width < 850px) {
    .navbar {

        #logo-name {
            font-size: 20px;
        }

        .search {
            width: 350px;

            .search-input {
                width: 300px;
            }

            .search-btn {
                width: 50px;
            }
        }

        .user {
            padding-left: 3rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (750px <=width < 800px) {
    .navbar {

        #logo-name {
            font-size: 20px;
        }

        .search {
            width: 350px;

            .search-input {
                width: 300px;
            }

            .search-btn {
                width: 50px;
            }
        }

        .btn-icon {
            margin: 0 10px;
            background-color: antiquewhite;
            border-radius: 50%;
            border: solid 1px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (700px <=width < 750px) {
    .navbar {

        #logo-name {
            font-size: 20px;
        }

        .search {
            width: 350px;

            .search-input {
                width: 300px;
            }

            .search-btn {
                width: 50px;
            }
        }

        .user {
            padding-right: 1rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (650px <=width < 700px) {
    .navbar {

        #logo-name {
            font-size: 16px;
        }

        .search {
            width: 300px;

            .search-input {
                width: 250px;
            }

            .search-btn {
                width: 50px;
            }
        }

        .user {
            padding-right: 1.5rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (600px <=width < 650px) {
    .navbar {

        #logo-name {
            font-size: 16px;
        }

        .search {
            width: 250px;

            select {
                width: 85px;

            }

            .search-input {
                width: 120px;
            }

            .search-btn {
                width: 50px;
            }
        }

        .user {
            padding-right: 1.5rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (550px <=width < 600px) {
    .navbar {

        mat-icon {
            font-size: 20px;
            padding-top: 0.1rem;
        }

        .logo-img {
            width: 20px;
            height: 20px;
            margin: 0 5px;
        }

        #logo-name {
            font-size: 16px;
        }

        .search {
            width: 250px;

            select {
                width: 70px;
                font-size: 12px;
            }

            .search-input {
                width: 130px;
                font-size: 12px;
            }

            .search-btn {
                width: 50px;

                i {
                    font-size: 14px;
                }
            }
        }

        .user {
            font-size: 14px;
            padding-right: 1.5rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (500px <=width < 550px) {
    .navbar {

        mat-icon {
            font-size: 20px;
            padding-top: 0.1rem;
        }

        .logo-img {
            width: 20px;
            height: 20px;
            margin: 0 5px;
        }

        #logo-name {
            font-size: 16px;
        }

        .search {
            width: 200px;

            select {
                width: 70px;
                font-size: 12px;
            }

            .search-input {
                width: 70px;
                font-size: 12px;
            }

            .search-btn {
                width: 50px;

                i {
                    font-size: 14px;
                }
            }
        }

        .user {
            font-size: 14px;
            padding-right: 1.5rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (450px <=width < 500px) {
    .navbar {

        mat-icon {
            font-size: 20px;
            padding-top: 0.2rem;
        }

        .logo-img {
            width: 20px;
            height: 20px;
            margin: 0 5px;
        }

        #logo-name {
            font-size: 16px;
        }

        .search {
            width: 220px;

            select {
                width: 70px;
            }

            .search-input {
                width: 100px;
                font-size: 12px;
            }

            .search-btn {
                width: 50px;

                i {
                    font-size: 14px;
                }
            }
        }

        .user {
            font-size: 14px;
            padding-right: 2.5rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (400px <=width < 450px) {
    .navbar {

        mat-icon {
            font-size: 20px;
            padding-top: 0.2rem;
        }

        .logo-img {
            width: 20px;
            height: 20px;
            margin: 0 5px;
        }

        #logo-name {
            font-size: 14px;
        }

        .search {
            width: 175px;

            select {
                width: 70px;
                font-size: 10px;
            }

            .search-input {
                width: 70px;
                font-size: 10px;
            }

            .search-btn {
                width: 50px;

                i {
                    font-size: 12px;
                }
            }
        }

        .user {
            font-size: 14px;
            padding-right: 2.5rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }
}

@media only screen and (350px <=width < 400px) {
    .navbar {

        mat-icon {
            font-size: 16px;
            padding-top: 0.2rem;
        }

        .logo-img {
            width: 16px;
            height: 16px;
            margin: 0 5px;
        }


        #logo-name {
            font-size: 12px;
        }


        .search {
            width: 160px;

            select {
                width: 70px;
                font-size: 8px;

            }

            .search-input {
                width: 40px;
                font-size: 8px;
            }

            .search-btn {
                width: 30px;

                i {
                    font-size: 8px;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .user {
            font-size: 12px;
            padding-right: 2.8rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        width: 33px;
    }
}

@media only screen and (300px <=width < 350px) {
    .navbar {

        mat-icon {
            font-size: 16px;
            padding-top: 0.2rem;
        }

        .logo-img {
            width: 10px;
            height: 10px;
            margin: 0 5px;
        }


        #logo-name {
            font-size: 10px;
        }



        .search {
            width: 160px;

            select {
                width: 70px;
                font-size: 8px;
                height: 30px;
            }

            .search-input {
                width: 40px;
                font-size: 8px;
            }

            .search-btn {
                width: 30px;

                i {
                    font-size: 8px;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .user {
            font-size: 12px;
            padding-right: 2.8rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        width: 33px;
    }
}

@media only screen and (250px <=width < 300px) {
    .navbar {

        mat-icon {
            font-size: 16px;
            padding-top: 0.2rem;
        }

        .logo-img {
            width: 16px;
            height: 16px;
            margin: 0 5px;
        }

        span {
            font-size: 12px;
        }

        .search {
            width: 80px;

            .search-input {
                width: 40px;
                font-size: 8px;
            }

            .search-btn {
                width: 30px;

                i {
                    font-size: 8px;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .user {
            font-size: 12px;
            padding-right: 2.8rem;
        }
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 0;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        width: 33px;
    }
}