<mat-toolbar color="primary" class="navbar">
    <button mat-icon-button class="example-icon" (click)="openSidebar()">
        <mat-icon style="color: black; ">menu</mat-icon>
    </button>
    <div class="container-left">
        <img src="../../../assets/images/logo1.png" alt="" class="logo-img">
        <div class="search">
            <input type="text" matInput placeholder="Tìm kiếm" class="search-input">
            <button class="search-btn">
                <i class="fa-solid fa-search"></i>
            </button>
        </div>
    </div>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <div class="navbar-menu">
        <div class="navbar-menu-item">
            <button class="navbar-menu-item-btn">
                <i class="fa-regular fa-message"></i>
            </button>
        </div>
        <div class="navbar-menu-item">
            <button class="navbar-menu-item-btn">
                <i class="fas fa-bell" id="icon"></i>
            </button>
        </div>
        <button (click)="myFunction()" class="dropbtn">
            <div class="dropdown">
                <div id="myDropdown" [ngClass]="{'dropdown-content': true, 'show': isDropdownOpen}">
                    <p>Phun</p>
                    <p>Join Membership</p>
                    <div class="line"></div>
                    <p>Profile</p>
                    <p>Certificate</p>
                    <p>Whislist</p>
                    <p>Setting</p>
                    <p style="margin: 0;">Logout</p>
                </div>
            </div>
            <div class="circle-indicator pulse"></div>
        </button>
    </div>

</mat-toolbar>